body{
    background-color:rgb(212, 113, 42);
    color:whitesmoke;
    font-family:'Courier New', Courier, monospace;
    margin-left: 10px;
}
h1{
    text-align:center;
    text-decoration: underline;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
}