body{
    background-color:rgb(139, 135, 135);
    color:rgb(0, 0, 0);
    font-family:'Courier New', Courier, monospace;
    margin-left: 10px;
}
h1{
    text-align:center;
    text-decoration: underline;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 20px;
    text-align: left;
    text-indent: 5px;
    font-variant: small-caps 3px;
    padding: 10px 50px 10px 5px;
    text-align: justify;
}
hr{border: 1px solid rgb(31, 31, 31); 
}
ol{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color:rgba(2, 30, 82, 0.527);
}